#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Header_Photo {
  position: absolute;
  top: 228px;
  left: 630px;
  width: 299px;
  height: 299px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Top_Author {
  position: absolute;
  top: 164px;
  left: 92px;
  width: 284px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Top_Author .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Top_Author span {
  color: #666666;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Top_Author span#rtr-s-Top_Author_0 {
  color: #666666;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 {
  position: absolute;
  top: 22px;
  left: 88px;
  width: 840px;
  height: 142px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 53px;
  font-size: 28.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 28.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_1 {
  position: absolute;
  top: 226px;
  left: 90px;
  width: 528px;
  height: 314px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_1 .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_1 span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_1 span#rtr-s-Body_Intro_1_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_2 {
  position: absolute;
  top: 552px;
  left: 88px;
  width: 840px;
  height: 430px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_2 .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_2 span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Intro_2 span#rtr-s-Body_Intro_2_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_Manila_Cathedral {
  position: absolute;
  top: 988px;
  left: 86px;
  width: 842px;
  height: 867px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Manila_Cathedral {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Manila_Cathedral .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Manila_Cathedral span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Manila_Cathedral span#rtr-s-H2_Manila_Cathedral_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_MACA {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-MACA {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-MACA_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_2 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_2 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Manila_Cathedral {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Manila_Cathedral .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Manila_Cathedral span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Manila_Cathedral span#rtr-s-Body_Manila_Cathedral_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Manila_Cathedral span#rtr-s-Body_Manila_Cathedral_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_Binondo {
  position: absolute;
  top: 1884px;
  left: 86px;
  width: 842px;
  height: 867px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Binondo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Binondo .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Binondo span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Binondo span#rtr-s-H2_Binondo_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Binondo {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_1 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_1 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_5 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_3 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_3 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_6 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_9 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Binondo {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Binondo .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Binondo span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Binondo span#rtr-s-Body_Binondo_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Binondo span#rtr-s-Body_Binondo_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_Quiapo {
  position: absolute;
  top: 2776px;
  left: 86px;
  width: 842px;
  height: 867px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Quiapo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Quiapo .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Quiapo span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Quiapo span#rtr-s-H2_Quiapo_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Quiapo {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_7 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_2 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_2 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_8 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_4 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_4 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_9 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_11 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Quiapo {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Quiapo .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Quiapo span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Quiapo span#rtr-s-Body_Quiapo_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_San_Sebastian {
  position: absolute;
  top: 3672px;
  left: 87px;
  width: 842px;
  height: 897px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Sebastian {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Sebastian .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Sebastian span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Sebastian span#rtr-s-H2_San_Sebastian_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Sebastian span#rtr-s-H2_San_Sebastian_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Sebastian {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_10 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_3 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_3 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_11 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_5 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_5 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_12 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_13 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Sebastian {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Sebastian .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Sebastian span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Sebastian span#rtr-s-Body_San_Sebastian_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Sebastian span#rtr-s-Body_San_Sebastian_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_San_Beda {
  position: absolute;
  top: 4600px;
  left: 87px;
  width: 842px;
  height: 927px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Beda {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Beda .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Beda span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Beda span#rtr-s-H2_San_Beda_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_San_Beda span#rtr-s-H2_San_Beda_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Beda {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_13 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_13 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_4 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_4 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_14 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_14 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_6 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_6 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_15 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_15 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_14 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_15 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Beda {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Beda .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Beda span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Beda span#rtr-s-Body_San_Beda_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Beda span#rtr-s-Body_San_Beda_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_San_Beda span#rtr-s-Body_San_Beda_2 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_Twin_Churches {
  position: absolute;
  top: 5558px;
  left: 87px;
  width: 842px;
  height: 867px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Twin_Churches {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Twin_Churches .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Twin_Churches span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Twin_Churches span#rtr-s-H2_Twin_Churches_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Twin_Churches span#rtr-s-H2_Twin_Churches_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Twin_Churches span#rtr-s-H2_Twin_Churches_2 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Twin {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_16 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_16 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_5 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_5 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_17 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_17 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_7 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_7 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_18 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_18 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_16 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_17 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_22 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_22 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_20 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_23 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_23 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_22 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_23 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Twin_Churches {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Twin_Churches .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Twin_Churches span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Twin_Churches span#rtr-s-Body_Twin_Churches_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Twin_Churches span#rtr-s-Body_Twin_Churches_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_Santa_Cruz {
  position: absolute;
  top: 6454px;
  left: 87px;
  width: 842px;
  height: 837px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Santa_Cruz {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Santa_Cruz .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Santa_Cruz span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Santa_Cruz span#rtr-s-H2_Santa_Cruz_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Santa_Cruz span#rtr-s-H2_Santa_Cruz_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Santa_Cruz span#rtr-s-H2_Santa_Cruz_2 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Cruz {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_19 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_19 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_6 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_6 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_20 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_20 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_8 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_8 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_21 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_21 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_18 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_19 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_StaCruz {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_StaCruz .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_StaCruz span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_StaCruz span#rtr-s-Body_StaCruz_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_Ermita {
  position: absolute;
  top: 7320px;
  left: 87px;
  width: 842px;
  height: 867px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Ermita_Church {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Ermita_Church .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Ermita_Church span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-H2_Ermita_Church span#rtr-s-H2_Ermita_Church_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_Ermita {
  position: absolute;
  top: 48px;
  left: 77px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_24 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_24 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_Arrow_7 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_Arrow_7 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_25 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_25 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Left_9 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Right_9 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_26 {
  width: 700px;
  height: 469px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_26 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Church_Pix_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_24 {
  position: absolute;
  top: 207px;
  left: 8px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_25 {
  position: absolute;
  top: 207px;
  left: 654px;
  width: 36px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Ermita_Church {
  position: absolute;
  top: 538px;
  left: 24px;
  width: 818px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Ermita_Church .valign {
  vertical-align: top;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Ermita_Church span {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Ermita_Church span#rtr-s-Body_Ermita_Church_0 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Body_Ermita_Church span#rtr-s-Body_Ermita_Church_1 {
  color: #333333;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_Continuation {
  position: absolute;
  top: 8218px;
  left: 84px;
  width: 842px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_Continuation .valign {
  vertical-align: middle;
  text-align: justify;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_Continuation span {
  color: #FF0000;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 16.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_Continuation span#rtr-s-Text_Continuation_0 {
  color: #FF0000;
  text-align: justify;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}