/*Devotion*/
.prayertitle {
    margin-top: 25px;
 
    text-align: center;
    color: #04f872;
}

.prayercontent {
     margin-top: 15px;
   padding-bottom: 25px;
    font-size: 20pt;
    color:black;
    white-space: pre-line;

}
.imagepath { 
    margin: auto;
    width: 25%;
    padding: 10px;
    align-items:center;

}
.aLink.prayer{
     text-align: center;
     color:black;   
}

.prayers {
    text-align: center;
    color: black;
    border: 1px solid black;
    margin: 5px 50px 5px 50px;
    padding: 10px;
}

.prayers-ocp {
    text-align: center;
    color: black;
    border: 1px solid black;
    margin: 5px 32px 5px 32px;
    padding: 10px;
}


@media only screen and (max-width: 600px){
    .prayers {
    text-align: center;
    color: black;
    border: 1px solid black;
    margin: 5px 10px 5px 10px;
    padding: 10px;
}
}

@media only screen and (max-width: 600px) {
    .prayers-ocp {
    text-align: center;
    color: black;
    border: 1px solid black;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    }
}

.btn-categories {
    list-style: none;
}

.button {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: 500 !important;
    padding: 10px 40px;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out,border-colo;
    background-color: #1ab5c1;
    border: 2px solid #1ab5c1;
    color: #fff;
    margin-bottom: 5px;
    width: 100%;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color:  rgba(255, 255, 255, 0.15);
  border-color: #000;
}

.button.is-checked {
  color: #000;
  text-shadow: 0 0px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}